/****************************************************************************
 * Created by goldwin.japar (https://goldwin.now.sh)
 * Copyright 2022 | Onboarding Blibli Kampus Merdeka & Binus 3+1
 * For Educational Purpose
 ****************************************************************************/

@import "variable";

@font-face {
  font-display: fallback;
  font-family: 'effra';
  src: url('https://www.static-src.com/fonts/1.0.0/effra/effra-regular.woff2') format('woff2'),
  url('https://www.static-src.com/fonts/1.0.0/effra/effra-regular.ttf') format('truetype');
}

@font-face {
  font-display: fallback;
  font-family: 'efframedium';
  src: url('https://www.static-src.com/fonts/1.0.0/effra/effraMedium-regular.woff2') format('woff2'),
  url('https://www.static-src.com/fonts/1.0.0/effra/efframedium-regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'effra', 'efframedium', Helvetica, Arial, sans-serif;
}

body {
  background: $grey;
  background-image: url(https://ik.imagekit.io/golz/background_DBtOhDFHDBzP.png?ik-sdk-version=javascript-1.4.3&updatedAt=1646304756984);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

nav {
  width: 300px;
  background: white;
  display: flex;
  justify-content: space-around;
  margin: 4px auto;
  border-radius: 16px;
  padding: 8px;
  box-shadow: $box-shadow;

  a {
    color: $blue;
  }
}

h1 {
  margin: 32px 0;
  color: $blue;
  font-size: 24px;
}
